.advantages {
  padding: 50px 20px 60px;

  @media (min-width:768) {
    padding: 60px 30px 100px;
  }
}

.advantages__list-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 0 36px;

  @media (min-width:768) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width:768) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 54px 30px;
  }
}

.advantages__item-title {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 4px;
  position: relative;

  @media (min-width:768) {
    text-align: start;
    font-size: 24px;
    line-height: 36px;
    max-width: 267px;
    margin: 0 0 10px 72px;
  }

  &::before {
    width: 52px;
    height: 56px;
    background-image: url("../../icons/clock.svg");
    display: block;
    content: "";
    margin: 0 auto 10px;
  }
}

.advantages__item-title::before {
  @media (min-width:768) {
    margin: 0;
    position: absolute;
    left: -70px;
  }
}

.advantages__item-description {
  text-align: center;
  margin: 0;

  @media (min-width:768) {
    text-align: start;
    max-width: 267px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 72px;
  }
}

.advantages__item--pocket .advantages__item-title::before {
  background-image: url("../../icons/pocket.svg");
}

.advantages__item--zip .advantages__item-title::before {
  background-image: url("../../icons/zip.svg");
  width: 42px;
}

.advantages__item--leaf .advantages__item-title::before {
  background-image: url("../../icons/leaf.svg");
  width: 46px;
}
