.main-nav__description {
  display: none;
}

.main-nav {
  display: flex;
}

.main-nav__navigation-list {
  display: none;

  
}

.main-nav__user-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.main-nav__user-link {
  width: 16px;
  height: 16px;
  display: block;
  padding: 22px;
  mask-size: 16px 16px;
  mask-position: center;
}

.main-nav__user-link--login {
  mask-image: url("../../images/user.svg");
  mask-repeat: no-repeat;
  background-color: #333333;
}

.main-nav__user-link--basket {
  mask-image: url("../../images/basket.svg");
  mask-repeat: no-repeat;
  background-color: #333333;
}

.main-nav__toggle {
  border: none;
  mask-image: url("../../images/menu.svg");
  mask-repeat: no-repeat;
  background-color: #333333;
  cursor: pointer;
  padding: 30px;
}

.main-nav__logo-link {
  align-content: center;
  margin-left: 20px;
}
