.main-nav__description {
  display: none;

  @media (min-width:1440px) {
    display: block;
    max-width: 126px;
    margin: 0 0 0 20px;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
  }
}

.main-nav {
  display: flex;

  @media (min-width:768px) {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

.main-nav__navigation-list {
  display: none;

  @media(min-width: 768px) {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width:1440px) {
    gap: 20px;
  }
}

.main-nav__user-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;

  @media (min-width:768px) {
    margin: 0;
  }
}

.main-nav__user-link {
  width: 16px;
  height: 16px;
  display: block;
  padding: 22px;
  mask-size: 16px 16px;
  mask-position: center;

  @media (min-width:768px) {
    padding: 32px 22px;
  }
}

.main-nav__user-link--login {
  mask-image: url("../../images/user.svg");
  mask-repeat: no-repeat;
  background-color: #333333;

  @media (min-width:1440px) {
  }
}

.main-nav__user-item--login {
  display: flex;
  align-items: center;
}

.main-nav__user-link--basket {
  mask-image: url("../../images/basket.svg");
  mask-repeat: no-repeat;
  background-color: #333333;
}

.main-nav__toggle {
  border: none;
  mask-image: url("../../images/menu.svg");
  mask-repeat: no-repeat;
  background-color: #333333;
  cursor: pointer;
  padding: 30px;

  @media (min-width:768px) {
    display: none;
  }
}

.main-nav__logo-link {
  align-content: center;
  margin-left: 20px;

  @media (min-width:768px) {
    margin: 0;
  }

  @media (min-width:1440px) {
    display: flex;
    text-decoration: none;
  }
}

.main-nav__item-link {
  padding: 32px 20px;
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.main-nav__item-link--current {
  color: #7859CF;
  border-bottom: 2px solid #7859CF;
  padding-bottom: 30px;
}
